


<div class="row">
  <div class="col-sm-6">
    <h1>Uploads</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_upload_path, class: 'btn btn-primary' do %>
    Add New Upload
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>        
        <th># of files</th>        
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @uploads.each do |upload| %>
        <%= content_tag :tr, id: dom_id(upload), class: dom_class(upload) do %>
          <td><%= upload.title %></td>
          <td><%= upload.description %></td>      
          <td><%= upload.files.length %></td>    
          <td><%= link_to 'Show', upload %></td>   
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
