<div class="page-header">
  <%= link_to uploads_path, class: 'btn btn-default' do %>
    All Uploads
  <% end %>
  <%= link_to edit_upload_path(@upload), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show upload</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @upload.title %></dd>
  <dt>Description:</dt>
  <dd><%= @upload.description %></dd>
  <dt>Files:</dt>
  <% @upload.files.each do |file| %>
   <li>
     <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
     <% if @upload.files.length > 1 %>
      <%= link_to 'Remove', delete_file_upload_url(file.id), method: :delete, data: { confirm: 'Are you sure?' } %>
     <% end %>
   </li>
 <% end %>
</dl>
